POSTGRES_USER=inmet_user
POSTGRES_PASSWORD=inmet_pass
POSTGRES_DB=inmet_db
ANALYTICS_USER=analytics_user
ANALYTICS_PASSWORD=analytics_pass
AIRFLOW_USER=admin
AIRFLOW_PASSWORD=admin
INMET_YEARS=2026
LOAD_MODE=full_refresh
AIRFLOW_PORT=8080
METABASE_PORT=3001
DBT_DOCS_PORT=8081

AIRFLOW_DB_USER=airflow_user
AIRFLOW_DB_PASSWORD=airflow_pass
AIRFLOW_DB=airflow_db
INMET_BASE_URL=https://portal.inmet.gov.br/uploads/dadoshistoricos