COMPOSE_PROJECT_NAME=inmet_weather_stack
POSTGRES_USER=edp
POSTGRES_PASSWORD=edp123
POSTGRES_DB=weather_dw
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
AIRFLOW_UID=50000
AIRFLOW_USER=admin
AIRFLOW_PASSWORD=admin
INMET_YEARS=2024,2025
INMET_BASE_URL=https://portal.inmet.gov.br/uploads/dadoshistoricos
GRAFANA_USER=admin
GRAFANA_PASSWORD=admin