__pycache__/
*.pyc
*.pyo
.venv/
venv/
env/
.env

logs/
*.log

data/
.tmp/
dados_inmet_*/

postgres-data/
metabase-data/

.airflow/

**/target/
**/dbt_packages/
**/logs/

**/uncommitted/data_docs/
**/uncommitted/validations/
**/uncommitted/validation_results/*.json

.DS_Store
Thumbs.db
desktop.ini

docs/enunciado_extraido.txt
docs/Projeto Final V2.pdf